# Python helpers
# Skip the virtual environment and cache. End users can install that to 
# keep the repo light.
__pycache__/
.DS_Store
env/
*.py[cd]


# Python Packaging ignorables
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg


# SQLite
*.sqlite3

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

# Microsoft
.vscode/
